# !! Secrets accidentally committed - JAS will catch these
PORT=3000
NODE_ENV=development
JWT_SECRET=super_secret_key_1234
DB_CONNECTION=mongodb://admin:password123@localhost:27017/mydb
AWS_ACCESS_KEY_ID=AKIAIOSFODNN7EXAMPLE
AWS_SECRET_ACCESS_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
STRIPE_SECRET_KEY=sk_live_4eC39HqLyjWDarjtT1zdp7dc
